/* Import Design System Global Styles - @use must come first */
@use '../../../libs/shared/theme/src/lib/styles/global.scss';

/* PrimeIcons */
@import 'primeicons/primeicons.css';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
